body{background-size:cover}
.heading{width:100%;margin:0px;font-size:30px;box-shadow:15px 15px 20px purple; font-family:'Satisfy', cursive;}
.footer{bottom:0; text-align:center; width:100%; position:fixed;background-color:seashell; color:teal; font-weight:bold}
canvas{border-bottom:5px solid palegreen; border-top:5px solid palevioletred;margin-top:50px;}
#status, #noofobjects{font-size:20px}